<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Sephora &amp; Hayden.ttf</string>
		<string>Fonts/Gloock-Regular.ttf</string>
		<string>Fonts/Italiana-Regular.ttf</string>
		<string>Fonts/Lora-Regular.ttf</string>
		<string>Fonts/InstrumentSerif-Regular.ttf</string>
	</array>
</dict>
</plist>
